<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Document</title>

</head>
<body>



    <!--NAV BAR-->

    
    <nav class="navbar navbar-expand-md" id="navbar">
			<a class="navbar-brand" href="/all/idx"><img src="/images/jsrlogo1.png" width="75px" height="75px"></a>
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="main-navigation">
				<ul class="navbar-nav">
					<li class="nav-item">
						<div class="dropdown">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
							  About Us
							</a>
  
							   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								   <a class="dropdown-item" href="/all/abt">About</a>
								  <a class="dropdown-item" href="/all/almni">Alumni</a>
								  <a class="dropdown-item" href="/all/clubb">Extra Curricular Activities</a>
								</div>
							  </div>
					</li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
						    For Student
						  </a>

							 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							 	<a class="dropdown-item" href="/studentlogin/stnlogin">Student Login</a>
							    <a class="dropdown-item" href="/all/gnl_instn">General Instructions</a>
							    <a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a>
							  </div>
							</div>
					</li>
					<li class="nav-item">
						<div class="dropdown">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
						    For Company
						  </a>

							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/all/procdur">Recuirment Procedure</a>
                 <a class="dropdown-item" href="/all/cntform">Company Contact Form</a>
             
               </div>
							</div>

					</li>
					<li class="nav-item">
						<a class="nav-link" href="/all/cnt" style="color: white;">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>


    <!--ABOUT US CONTENT-->
    

    <div class="container">
        <div class="row" id="content">
            <div class="col-md-12 col-sm-12 maincontent">
                <div class="row">
                    <div class="col-sm-12 main-block">
                        <h3>About NIT Jamshedpur</h3>
                        <p>National Institute of Technology, Jamshedpur,earlier known as Regional Institute of Technology was established on 
                            15th August 1960 as a joint venture of Government of India and the Government of Bihar in the chain of REC's 
                            (Regional Engineering College) in India with the aim to generate technical graduates of highest standards who
                             could provide technological leadership to the region.It Was Among The First Eight Regional Engineering Colleges (RECs) Established As Part Of The Second Five-Year Plan (1956 - 1961). This Was The Only REC In The Country Which Was Named As RIT (Regional Institute Of Technology). Therefore RIT Jamshedpur Was Actually The REC Of Undivided Bihar & Jharkhand. The Foundation Stone Of RIT (REC) Jamshedpur Was Laid By Dr. Srikrishna Sinha, The Then Chief Minister Of Bihar , With The Aim Of Nurturing Talent And Setting High Standards Of Education And Excellence.

                             On 27th December 2002, In The Line Of All Other RECs Of India, RIT Jamshedpur (May Be Read As REC Jamshedpur Too) Was Converted To National Institute Of Technology, Jamshedpur With The Status Of A Deemed University As Per The Decision Of Govt. Of India. The Institute Is Fully Funded And Governed By The Ministry Of Human Resource Development (MHRD), Government Of India Since 1st April, 2003. On 15 August 2007, NIT Jamshedpur Was Given The Status Of The Institute Of National Importance Through An Act Of The Parliament Known As The NIT Act
                             
                             The Institute Has 12 Departments Including Engineering, Science And Humanities. The Institute, With 200 Faculty, 4000 Students, 150 Administrative And Supporting Staff, Is A Self-Contained Campus. It Is Located On The Outskirts Of Jamshedpur On 341.3 Acres Of Sprawling, Rolling Hilly, Wooded Land. It Combines Natural Beauty Of Countryside With Urban Glamour Of An Industrial Area. The Flowing River And Picturesque Backdrop Of Low Hills On One Side And Large Tracks Of Forest On The Other Make The Campus An Ideal Place For Higher Learning And Research. It Has Been Growing From Strength To Strength Ever Since It Was Established In 1960. Situated In The Heart Of The Rich Mineral And Industrial Belt Of Jharkhand State, The Campus Encompasses The Main Building, The Library, The Computer Center, 13 Hostels (9 Boys Hostels And 4 Girls Hostels), Staff Quarters, Guest House, A Students Gymkhana, A Post-Office , A Branch Of State Bank Of India, Two ATMs, Central Store And A Dispensary. The Hostels And Departments Are Connected With High Speed Wireless LAN. The Institute Maintains Courts For Basketball, Volleyball, Badminton And Tennis. Apart From This, It Also Has Cricket, Hockey And Football Grounds. The Institute Is Poised For Bright And Promising Future. The Courses Have Been Completely Restructured And Prepared As Per The Needs Of Society And Industries. There Is Refreshing Development On Every Front. The Institute Has Achieved Impressive Placement For Its Students, With Top Industrial Houses And Software Companies Recruiting The Students In Large Numbers.</p>

                    </div>
                    </div>
                   
                        
                    
                    <div class="row main-block">
                        <div class="col-lg-12">
                            <h3>Director's Message</h3>
                        </div>

                        <div class="col-lg-3">
        
                            <img src="/images/dirim.png" alt="director" class="main-img img-responsive"> 
                               
                                <p class="cap">Prof. Karunesh Kumar Shukla <br>
                                Director  <br>
                                NIT Jamshedpur</p>
                            
                        </div>
                    <div class="col-lg-9">
                       
                        <p>
                            National lnstitute of Technology, Jamshedpur, one of the institutes of national
                             importance, has been successful in carving a niche for itself in the list of 
                             educational institutions imparting technological education to the youth of the 
                             country. This cradle of excellence has the mission to impart quality education 
                             and encourage research opportunities in the country. Our institute is renowned 
                             across the whole country because of its brilliant history of serving as the alma 
                             mater of some of the brightest and most successful torchbearers of the country. 
                             Every year, our students are selected by most of the leading companies in the 
                             country, many of which are MNCs. The distinguished faculty, meritorious students, 
                             well equipped classrooms and laboratories and most importantly, continually 
                             monitored and revised undergraduate and post graduate programs incorporating the
                              most recent technological, management and humanistic theories and practices have 
                              been the features which have resulted in our institute being ranked amongst one of 
                              the top institutions in the country. Moreover, the exemplary placement record till 
                              date contributes to the reinforcement of its brand image of a major technology hub. 
                              We will continue to work towards our vision of chiselling the best engineers of the 
                              country and the world. We commit ourselves to work for a better future and we hope 
                              to keep earning numerous honours and accolades from the whole nation for our march 
                              towards the zenith.
                        </p>

                    </div>
                    </div>

                    <div class="row main-block ">
                       <div class="col-lg-12">
                        <h3>Professor In-Charge's Message</h3>
                       </div> 
                    <div class="col-lg-9">
                        
                        <p> Dear Recruiters, I extend a cordial invitation for the Placement program at 
                            NIT Jamshedpur. NIT offers recruiters access to a unique bouquet of budding
                             technical minds. Our students constitute the top performers in JEE Mains 
                             and are selected after one of the most rigorous admission processes across
                              country. The breadth of talent available here is unparalled across India,
                               making it the campus-of-choice for its recruiters. 
                               The distinguished faculty ,bright students along with a unique course 
                               structure create a perfect environment for the development of future 
                               technical and managerial leaders. I assure you that your expectations
                                will not just be met but will be surpassed substantially. NIT Jamshedpur
                                 has been known for giving future leaders to the Industry in India as 
                                 well as abroad. Warm Wishes and Regards.</p>

                    </div>
                    <div class="col-lg-3">
                        <img src="/images/prof. prahlad prasad.jpg" alt="director" class="main-img img-responsive">
                        <p class="cap">
                            Prof. Prahlad Prasad <br>
                            Professor Incharge,TAP Cell <br>
                            NIT Jamshedpur
                        </p>
                       
                        
                    </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <!-- <script src="/javascripts/main.js"></script></body> -->

</html>