<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="shortcut icon" href="#">


	<title>Bootstrap Tutorial Sample Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/uditstyle.css">

</head>

<body style="background: #fff">

	<nav class="navbar navbar-expand-md">
		<a class="navbar-brand" href="/all/idx"><img src="/images/jsrlogo1.png" width="75px" height="75px"></a>
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main-navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
						  About Us
						</a>

						   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							   <a class="dropdown-item" href="/all/abt">About</a>
							  <a class="dropdown-item" href="/all/almni">Alumni</a>
							  <a class="dropdown-item" href="/all/clubb">Extra Curricular Activities</a>
							</div>
						  </div>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
							For Student
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="/studentlogin/stnlogin">Student Login</a>
						
							<a class="dropdown-item" href="/all/gnl_instn">General Instructions</a>
							<a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(10, 131, 236); color:white; border: 0px;">
							For Company
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="/all/procdur">Recuirment Procedure</a>
						   <a class="dropdown-item" href="/all/cntform">Company Contact Form</a>
					   
						 </div>
					</div>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/all/cnt" style="color: white;">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>




	<section id="page-content" style="margin-bottom:20px">
		<div class="container">

			<!-- Page Heading/Breadcrumbs -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Career Awareness and Communication Development</h1>
					<ol class="breadcrumb">
						<li><a class="link" href="/all/idx">Home</a>
						</li>
						<li class="active">Student</li>
						<li class="active">Career Awareness and Communication Development</li>
					</ol>
				</div>
			</div>

			<div class="shadow-box">
				<div class="row myspace">

					<div class="col-sm-12">
						<h3 class="myfont">Career Awareness Program</h3>
						<p>
							NIT JAMSHEDPUR regularly organizes career awareness programs and interactions for final as well as pre-final year students with respective branch mentors and student placement coordinators. These interactions ensure that the students
							are
							regularly motivated and their potential is properly channelized into the right directions.
						</p>
						<br>
						<p>
							Regular interactions ensure that the students are regularly motivated and their potential is properly channelized into the right directions.In these session, the interests of the students are first taken into consideration, then other
							variables like aptitude, skill-set, academics etc are factored into the equation. Thus providing every student, a realistic view of their goals. Due to these efforts, our students not only go for good regular jobs but also for higher
							education, entrepreneurship and civil services, all according to their potential.
						</p>
					</div>
				</div>
				<div class="row myspace">
					<div class="col-sm-10">
						<h3 class="myfont">Entrepreneurship Cell</h3>
						<p>E-Cell NIT JAMSHEDPUR has greatly catalyzed the process. It is responsible for institutionalizing informal clubs like Computer Club , Web Development Society, Soft Skills Club , Society of Computer Applications
						 e.t.c . It organizes regular workshops of these clubs and contributes greatly towards the skill development.<br>You can visit the website <a href="http://www.nitjsr.ac.in/ecell/" target="_blank">www.nitjsr.ac.in/ecell</a>.
						</p>
					</div>
					<div class="col-sm-2">
						<div class="side-icon">
							<img src="/images/e cell logo.png" style="height:160px;">
						</div>
					</div>
				</div>
				<!-- <div class="row myspace">
					<div class="col-sm-12" id="communication">
						<h3 class="myfont">Industry Interaction and Training Programs</h3>
						<p>The institute also holds regular seminars, webinars, workshops, and interactive sessions from industrial giants like TCS etc. Short term courses on VLSI design, Robotics and Automation, Autodesk Inventor etc ensure that the
							students are at par with the latest technologies.
						</p>
					</div>
				</div> -->
				<div class="row myspace">

					<div class="col-sm-12">
						<h3 class="myfont">Soft Skills Club</h3>
						<p>Communication Skill is perhaps the most neglected part of the academic life of most technocrats. Keeping that in mind, NIT jamshedpur constituted Soft Skills Club to improve the communication skills of the students. Understanding that communication skill
							development is continual, the society functions amongst all years. Spearheaded by the Training and Placement Department, the society conducts different activities like JAMs, Debates, Mock Parliament, Mock Interviews, GDs and other
							activities to help students improve the communication skills of the students.
						</p>
					</div>
				</div>
			</div>
			<br>

		</div>
	</section>

	<section id="related">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header class=" myfont"">Related Pages</h3>
				</div>

				<a href="/tnp/downloads/downloads.php" class="btn btn-primary btn-large btn_margin">Downloads</a>

				<a href="/tnp/company/internships.php" class="btn btn-primary btn-large btn_margin">Internships</a>

				<a href="file:///C:/Users/HP/Downloads/ppp/x/career_awareness_program.html" class="btn btn-primary btn-large btn_margin">Career Awareness and Communication Development Program</a>


			</div>
		</div>
	</section>








	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">Additional Information</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<p>NIT JSR Adityapur Jamshedpur
						<br /><a href="mailto:tap@nitjsr.ac.in" style="text-decoration:none; color: greenyellow;">tap@nitjsr.ac.in</a>
						<br /><a href="tel:555-666-7777" style="text-decoration:none; color: greenyellow;">555-666-7777</a>
						<br /><a href="https://www.facebook.com/nitjsrnewsupdate" target="blank"><img src="/images/fbicon.png" width="50px" height="50px"></a>
						<a href="https://www.linkedin.com/in/training-placement-cell-nit-jamshedpur-945859a4/" target="blank"><img src="/images/linkedin1.png" width="50px" height="50px"></a>
					</p>
				</div>
			</div>
			<div class="footer-copyright text-center">© 2020 Copyright: NIT JSR Web Team</div>
	</footer>

	<script src="/javascripts/jquery-3.5.1.min.js"></script>
	<script src="/javascripts/js/bootstrap.min.js"></script>
	<!-- <script src="/javascripts/main.js"></script> -->

</body>

</html>
