<form method="POST" action="/adminlogin/upload" enctype="multipart/form-data">
    <div>
        <label>Select your file:</label>
        <input type="file" name="pdf" />
    </div>
    <div>
        <input type="submit" name="btn_upload_profile_pic" value="Upload" />
    </div>
</form>