<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css">
  
    <%- include('style'); -%>

</head>
<body>
    
<!-- header section starts  -->

<header>
    
       
    
    <h1 class="heading">Home</h1>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="/About">about</a></li>
            <!-- <li><a href="/Login">Login</a></li> -->
            <li><a href="/signup">Register</a></li>
            <li><a href="/Contact">contact</a></li>
            <li><a href="/home/profile">View Profile</a></li>
            <li><a href="/home/logout">Logout</a></li>
        </ul>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts   -->

<section class="home">

    <div class="content">
        <h1>NIT JAMSHEDPUR</h1>
        <p>ALUMNI ASSOCIATION</p>
        <a href="#"><button class="btn">get started</button></a>
    </div>

    <div class="image">
        <img src="/img/mainimage.jpg" alt="">
    </div>

</section>

<!-- home section ends -->

  <!-----Events Section Starts-->
  <h1 class="event">EVENTS</h1>
  <div class="event-container">
   
    <h3 class="year">2020</h3>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">30</div>
          <div class="month">Oct</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Exclusive panel Discussion on Excelling in Career</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
          <img src="/img/4.jpg" alt="" /> 10:00 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">22</div>
          <div class="month">Dec</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Some Title Here</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
          <img src="/img/4.jpg" alt="" /> 10:45 am
        </div>
      </div>
    </div>

    <h3 class="year">2021</h3>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">8</div>
          <div class="month">Jan</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Some Title Here</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
          <img src="/img/4.jpg" alt="" /> 10:00 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">15</div>
          <div class="month">Aug</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Global Virtual Alumni meet_NITJAA</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
          <img src="/img/4.jpg" alt="" /> 10:30 am
        </div>
      </div>
    </div>

    
     
    </div>
  </div>
<!--Events Section Ends-->



<!--Alumni Section starts-->
<div class="wrapper">
    <h1>DISTINGUISHED ALUMNI </h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
              <img src="/img/alumni1.jpeg" alt="our_team">
          </div>
          <h3>Salil Kumar Jha</h3>
          <span>1969-74</span>
          <p>Mr Salil Kumar Jha of 1969-74 Batch is the topper of then Ranchi University colleges and MBA from Faculty of Management
               Studies (FMS), Delhi University.
               <span class="dots">......</span>
              <span class="moreText">
            He worked for 8 years with Engineers India Ltd and 29 years with Hindustan Aeronautics Ltd both Navratna PSUs.
            He was Managing Director of Hindustan Aeronautics Ltd. Thereafter, he has been Director of a leading public sector Bank.
             He also represents India on the Board of a G20 Nations organization based in Switzerland.
            </span>
        </p>
        <button class="read-more-btn">Read More</button>
        </div>

        <div class="team_member">
           <div class="member_img">
             <img src="/img/alumni3.jpeg" alt="our_team">
          </div>
          <h3>Ram Vinay Shahi</h3>
          <span>1962-67</span>
          <p>front runner, trailblazer and an erudite personality in the field of Engineering, Shri Ram Vinay Shahi is a proud alumnus of
             the 1962-67 batch of NIT Jamshedpur 
             <span class="dots">......</span>
             <span class="moreText">
                and currently the chairman ofEnergy InfratechPvt. Limited. In his long inspiring career in various organisations, a dazzling feather in Shri Shahi’s cap was
               his stint as the Chairman and Managing Director of Bombay Suburban Electric Supply (BSES Ltd) which, under his leadership and 
               guidance transformed from a small power utility to one of the enormous in the nation. Later, he also went on to serve as the 
               Secretary to the Government of India in the Ministry of Power during which the Indian Electricity sector witnessed path-breaking 
               ies including the landmark Electricity Act of 2003, which liberalized the sector and initiated private investment in Indian Power.
            Being a pioneering strength to the field of Engineering, Shri R.V. Shahi was bestowed with the prominent “Best Power Man of
            the Millennium Year 2000” award by the National Foundation of Indian Engineers. He is also a revered writer who made
             acclaimed publications in the form of “Towards Powering India: Policy Initiatives and Implementation Strategy” 
             & “Indian Power Sector: Challenge and Response”.
             </span>
            </p>
            <button class="read-more-btn">Read More</button>

            
      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/img/alumni2.jpeg" alt="our_team">
            
          </div>
          <h3>Chittaranjan Sahay</h3>
          <span>1962-66</span>
          <p>A Quintessential personality in his field and a proud alumnus of the National Institute of Technology-batch of 1962-66,
               Jamshedpur- Professor Chittaranjan Sahay is 
                <span class="dots">......</span>
                <span class="moreText">
                    currently holding the Vernon D. Roosa Distinguished Professor Chair in Manufacturing
                    and Professorship in Mechanical Engineering at the University of Hartford. He is also the Director of the Center for Manufacturing 
                and Metrology.Alongside this, Prof. Sahay served as the Director, President, Vice President and Member of many prestigious organizations,
             boards & committees including the ASME & National Council of Examiners for Engineering and Land Surveying. Dr. Sahay is a Fellow
              of the ASME and a member of the Connecticut Academy of Science and Engineering. He has and continued to serve as Program Evaluator
               for Mechanical Engineering and Manufacturing Engineering internationally and within the US. A testament to his unparalleled 
               service to the organisation, he received the Dedicated Service Award in 1997, the ASME Faculty Advisor Award 1998,
                the ASME Sparks Medal and the Society of Manufacturing Engineers (SME) President Award in 2002.
            </span>
        </p>
        <button class="read-more-btn">Read More</button>

      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/img/alumni4.jpeg" alt="our_team">
             </div>
          <h3>Air Marshal Jitendra Kumar Singh</h3>
          <span>1975-80</span>
          <p>Air Marshal Jitendra Kumar Singh, an esteemed Alumnus of the National Institute of Technology- batch of 1975-80,
               Jamshedpur is one of the most exceptional 
               <span class="dots">......</span>
              <span class="moreText">
                personality who served in the Indian Air Force. 
                He has vast work and management experience on all the variants of MiG-21 and was involved with the management
               of almost all the Russian Fighter in various staff appointments, including Director of Engineering (A2) at Air Headquarters, Chief Engineering Officer of a MiG-21
               base and Commanding Officer of a Repair and Salvage Unit. It is entirely to his credit that concessions in Jaguar and MiG-29 fleets have been brought down significantly.
                His contribution in identifying grey areas in the maintenance environment at Air Force bases under SWAC, through the conduct of Maintenance Safety Week and regular Quality
                Audits have been truly remarkable. His proposals on standards for hydraulic particle count and hydraulic oil during receipt of aircraft from Hindustan Aeronautics Limited
                has been implemented as the new acceptance benchmark
            An Alumni of Defence Services Staff College, Wellington, Air Marshal Jitendra Singh also served as the Deputy Air AttachÃƒÂ© in Moscow. His immense contributions to the Indian Airforce
             in various capacities is an inspiration to everyone. For distinguished service of a high order, he was awarded the prestigious 'VishishtSeva Medal' by the President of India.
            </span>
            </p>
            <button class="read-more-btn">Read More</button>
        </div>  
    </div>
</div>

<!-- Alumni Section ends -->
>




<!-- footer section starts  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>why choose us?</h3>
            <p>NIT Jamshedpur has always been among the top NITs in India.The institute has acheived remarkable accomplishedments in the field of Academic 
                Excellence</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">Contact</a>
        </div> 

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe us for latest updates</p>
            <form action="">
                <input type="email" placeholder="your email">
                <input type="submit" class="btn" value="subscribe">
            </form>
        </div>

    </div>

    <h1 class="credit"> created by <a href="#">NIT JAMSHEDPUR</a> | all rights reserved. </h1>

</div>

<!-- footer section ends -->













<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>