<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- <-- custom css file link  --> -->
     <link rel="stylesheet" href="/stylesheets/alumnistyle2.css">
   <link rel ="stylesheet" href="/stylesheets//bootstrap.min.css">
   <link href="/stylesheets/style2.css" rel="stylesheet">   
   


</head>
<body>
    
<!-- header section starts  -->

<header>


    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="Home.html">home</a></li>
          <li><a href="Login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            
        </ul>
    </nav>

</header>

<!-- header section ends -->

<!-- register section starts   -->

<div class="wrapper">
  <div class="title">
    Registration Form
  </div>
  <div class="form">
     <div class="inputfield">
        <label>Full Name</label>
        <input type="text" class="input" name="name" placeholder="Enter your full name">
     </div> 
     
     <div class="inputfield">
      <label>Email Address</label>
      <input type="email" class="input" name="email" placeholder="Enter your Email Address">
   </div> 

     <div class="inputfield">
      <label>Password</label>
      <input type="password" class="input" name="pswrd" placeholder="Enter your password">
   </div>

   <div class="inputfield">
    <label>Confirm Password</label>
    <input type="password" class="input" name="cmpswrd" placeholder="Re-enter your password">
 </div>

      <div class="inputfield">
        <label>Year Of Passing</label>
            <div class="custom_select">
          <select name="yop">
            <option value="">Select</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
        </select>
        </div>
     </div>  

     <div class="inputfield">
        <label>Date of Birth</label>
        <input type="date" class="input" name="dob" placeholder="Enter your dob">
     </div>  

    <div class="inputfield">
        <label>Course</label>
       <div class="custom_select">
         <select name="course">
          <option value="">Select</option>
          <option value="2021">UG</option>
          <option value="2020">PG</option>
          <option value="2019">MPhil</option>
       </select>
     </div> 
     </div>

      <div class="inputfield">
        <label>Gender</label>
        <div class="custom_select">
          <select name="gender">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
     </div> 
     
    <div class="inputfield">
        <label>Phone Number</label>
        <input type="tel" class="input" name="phone" placeholder="Enter your phone number">
     </div> 

    <div class="inputfield">
        <label> Present Address</label>
        <textarea type="address" class="textarea" name="caddress" placeholder="Enter your Present address"></textarea>
     </div> 

     <div class="inputfield">
      <label> Permanent Address</label>
      <textarea type="address" class="textarea" name="paddress" placeholder="Enter your permanent address"></textarea>
   </div>

    <div class="inputfield">
        <label>Present Occupation</label>
        <input type="address" type="text" class="input" name="occupation" placeholder="Enter your present occupation">
     </div> 

    <div class="inputfield terms">
        <label class="check">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <p>Agreed to terms and conditions</p>
     </div> 

    <div class="inputfield">
      <input type="submit" value="Register" class="btn">
    </div>
  </div>
</div>	



<!-- register section ends -->

<!-- footer section starts  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>why choose us?</h3>
            <p>NIT Jamshedpur has always been among the top NITs in India.The institute has acheived remarkable accomplishedments in the field of Academic 
                Excellence</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="Home.html">Home</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
            <a href="Contact.html">Contact</a>
        </div> 

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe us for latest updates</p>
            <form action="">
                <input type="email" placeholder="your email">
                <input type="submit" class="btn" value="subscribe">
            </form>
        </div>

    </div>

    <h1 class="credit"> created by <a href="#">NIT JAMSHEDPUR</a> | all rights reserved. </h1>

</div>

<!-- footer section ends -->











<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  

<!-- custom js file link  -->
<!-- <script src="//js/script.js"></script> -->
<script src="/javascripts/js/bootstrap.min.js"></script> 

</body>
</html>