<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- font awesome cdn -->
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <title>SKILL_CLUB</title>
  <link rel="stylesheet" href="/stylesheets/all.css">

  <style>
    * {
      box-sizing: border-box;
    }

    /* ul{
      list-style: none;
    } */
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-md" id="navbar">
    <a class="navbar-brand" href="/all/idx"><img src="/images/jsrlogo1 (2).png" width="75px"
        height="75px"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/all/abt">About</a></li>
            <li><a class="dropdown-item" href="/all/almni">Alumni</a></li>
            <li><a class="dropdown-item" href="/all/clubb">Extra Curricular Activities</a>
            </li>
          </ul>
        </li>
        </li>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            For Student
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/studentlogin/stnlogin">Student Login</a></li>
            <li><a class="dropdown-item" href="/all/gnl_instn">General Instruction</a></li>
            <li><a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a>
            </li>
          </ul>
        </li>
        </li>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            For Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/all/procdur">Recuirment Procedure</a></li>
            <li><a class="dropdown-item" href="/all/cntform">Company Contact From</a></li>
            <li><a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a></li>
          </ul>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all/cnt" style="color: white;">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <h2
    style=" text-align: center; font-family: 'Times New Roman', Times, serif;  color:rgb(21, 21, 32); font-weight: 800; padding-top: 8%;">
    <span><u>  Soft Skill Club</u></span>
  </h2>

  <div class="panel-body" style="border: 1px solid gray; margin-left: 50px; margin-right: 50px;margin-bottom: 5%; ">


    <div class="para" style="padding-left: 5%; padding-right: 5%; margin-top: 2%;">
      <!-- <div class="container-fluid  "> -->
      <center> <img class="img-fluid " src="/images/skill2.jpg" height="1000" width="600" mar></center>

      <!-- </div> -->
      <p style="margin-top: 3%;"> Soft Skills Club of NIT Jamshedpur organises and supports programs/practices that
        deals with developing good soft skills essential for professional growth. With the rapid advancements in
        technology, the market has become highly competitive making soft skills an integral section for absorption into
        the corporate world. The club organises varied events like Group Discussion, Mock Interview, Creative Writing,
        Debate, Industrial PPT and Aptitude/Guesstimates/Puzzles for the students. Also, Placement Talks are organised
        for developing awareness regarding the recruitment process and preparation source/strategy. Workshops on CV
        Writing, Group Discussion, Personal Interview, Stress Management, Time Management are organised to enhance the
        efficiency of the students. The members of the Soft Skills Club work sincerely towards achieving the goal of a
        good Employability Index of the students by upscaling their soft skills..</p>


      <br><br>
      <h4 style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 600;">Objectives of Values & Ethics </h4>
      <hr><br>
      <p class="objectpara">
        Here Work ethics, attitude, communication skills, emotional intelligence and a whole host of other personal
        attributes
        are the soft skills that are crucial for professional growth and career success. Soft Skills nurtures and
        creates
        a leader out of an individual. Problem solving, delegating, motivating, and team building are all signs of good
        soft skills. Soft skills are accompanied by the hard skills and enables an organization use its technical
        expertise to full advantage. The act of listening, presenting ideas, resolving conflict, and fostering an open
        and
        honest work environment comes down to know how to build and maintain relationships with people. It's those
        relationships that allow people to participate fully in team projects, show appreciation for others, and enlist
        support for projects. It's important to recognize the vital role that soft skills play within a team along with
        encouraging its development throughout the organization rather than just working on developing them within
        oneself.
      </p>
    </div>
  </div>



  <br><br><br>


 
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
            luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
            luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <p>NIT JSR Adityapur Jamshedpur
            <br /><a href="mailto:tap@nitjsr.ac.in"
              style="text-decoration:none; color: greenyellow;">tap@nitjsr.ac.in</a>
            <br /><a href="tel:555-666-7777" style="text-decoration:none; color: greenyellow;">555-666-7777</a>
            <br /><a href="https://www.facebook.com/nitjsrnewsupdate" target="blank"><img
                src="/images/fbicon.png" width="50px" height="50px"></a>
            <a href="https://www.linkedin.com/in/training-placement-cell-nit-jamshedpur-945859a4/" target="blank"><img
                src="/images/linkedin (2).png" width="50px" height="50px"></a>
          </p>
        </div>
      </div>
      <div class="footer-copyright text-center">© 2020 Copyright: NIT JSR Web Team</div>
  </footer>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>