<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="#">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- font awesome cdn -->
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/WEBTEAMstyle.css">

  <title>WEB_TEAM</title>
  <link rel="stylesheet" href="/stylesheets/all.css">

  <style>
    * {
      box-sizing: border-box;
    }

    /* ul{
      list-style: none;
    } */
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-md" id="navbar">
    <a class="navbar-brand" href="/all/idx"><img src="/images/jsrlogo1 (2).png" width="75px"
        height="75px"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/all/abt">About</a></li>
            <li><a class="dropdown-item" href="/all/almni">Alumni</a></li>
            <li><a class="dropdown-item" href="/all/clubb">Extra Curricular Activities</a>
            </li>
          </ul>
        </li>
        </li>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            For Student
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/studentlogin/stnlogin">Student Login</a></li>
            <li><a class="dropdown-item" href="/all/gnl_instn">General Instruction</a></li>
            <li><a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a>
            </li>
          </ul>
        </li>
        </li>
        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            For Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/all/procdur">Recuirment Procedure</a></li>
            <li><a class="dropdown-item" href="/all/cntform">Company Contact From</a></li>
            <li><a class="dropdown-item" href="/all/car_aw_prgrm">Career Awarness Program</a></li>
          </ul>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all/cnt" style="color: white;">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>



  <div>


    <h2 class="text-capitalize" style="text-align: center; padding: 10px; margin: auto; margin-top: 20px;">
      <b>WEB TEAM </b></h2>
  </div>
    <div class="container-xxl" style="border: 1px solid gray;  margin-top: 10px;
    max-width: 80%;
    background-color: rgb(248, 237, 186);
  
    border-color: black;
    border: 2px solid;
    margin-top: 20px; margin-bottom: 20px;  background-color: rgb(236 244 244);; ">

      <img src="/images/webteam1.jpg" class="rounded mx-auto d-block" alt="...">
      <hr>

      <p>The Web Team consists of some really skilled students with a knack for Web Development.The members get to learn a lot about Web Development and gain hands on experience by developing and maintaining the institute website.</p>

      <p>Proper inductions are conducted every year wherein students having required skill set are selected to be a part of the team.The selection process is rigorous to ensure the formation of a well balanced team.</p>          


<p>
The Web Team manages the Institute's online presence on a day-to-day basis and supports its use of the external and internal web.

<ul>
<strong>Some Function of WebTeam are</strong>  :

 <li>Frequently updating the news like placement updates, important informations  etc</li>
 <li>Publishing information about workshops/conferences that are held in Institute periodically.</li>
          <li>Supervising the creation of new websites for the Institute.</li>
  <li>Assisting departments, faculties and offices in maintaining existing websites.</li>
</ul>
</p>
<br>


<h1 class="page-header" style="color:#444444;font-family:'Calibri';margin-top:12px;">Previous Webteam Student Members:</h2>
  <div class="table-responsive">
  <table class="table table-bordered"  border="0">
<thead><tr>
<th>Name of Students</th><th>Batch</th><th>E-mail</th>
</tr></thead>
<tbody>
<tr>
<td>Tunesh Kant</td><td>2016</td><td>N/A</td>
</tr>
<tr>
<td>Piyush Rai</td><td>2017</td><td>N/A</td>
</tr>
<tr>
<td>Abhinav Kinshuk</td><td>2017</td><td>N/A</td>
</tr>
<tr>
<td>Diwakar Singh</td><td>2017(IIIT ranchi) </td><td>N/A</td>
</tr>
<tr>
<td>Suryansh Raj Dubey</td><td>2016</td><td>suryanshraj97@gmail.com</td>
</tr>
<tr>
<td>P. Soumya</td><td>2017(MCA)</td><td>N/A</td>
</tr>
<tr>
<td>Rahul Nag</td><td>2015</td><td>rahulnitjsrece@gmail.com</td>
</tr>
<tr>
<td>Anurag Kumar</td><td>2015</td><td>anuragrajpoot028@gmail.com</td>
</tr>
<tr>
<td>Rishabh Agrawal</td><td>2015</td><td>rishabhagrawal041@gmail.com</td>
</tr>
<tr>
<td>Rohit Kumar</td><td>2015</td><td>rohit.nit35@gmail.com</td>
</tr>
<tr>
<td>Vinit Kumar</td><td>2015</td><td>vinitkumar1610@gmail.com</td>
</tr>
<tr>
<td>Mohit Kumar Jha</td><td>2016</td><td>mohitkumarjha56@gmail.com</td>
</tr>
<tr>
<td>Chandan Kumar Sharma</td><td>2016</td><td>chandancks732@gmail.com</td>
</tr>
<tr>
<td>Sourabh Kumar</td><td>2016</td><td>sourabh.nit067@gmail.com</td>
</tr>
<tr>
<td>Shivam Kumar Gupta</td><td>2016</td><td>shivamgupta161998@gmail.com</td>
</tr>
<tr>
<td>Ankit Kumar Gupta</td><td>2016</td><td>ankitkumargupta365@gmail.com</td>
</tr>
<tr>
<td>Akshay Poddar</td><td>2014</td><td>apnaakshay@gmail.com</td>
</tr>
<tr>
<td>Shikhar Kunal</td><td>2014</td><td> shikharkunal99@gmail.com</td>
</tr>
<tr>
<td>Abhishek Keshri</td><td>2014</td><td>akeshari87@gmail.com</td>
</tr>
<tr>
<td>Kornala Arun</td><td>2014</td><td>kornalaarun@gmail.com</td>
</tr>
<tr>
<td>Devesh Jagwani</td><td>2014</td><td>  deveshjagwani8@gmail.com</td>
</tr>
<tr>
<td>Avinash Kumar</td><td>2014</td><td> ak007avisonu@gmail.com</td>
</tr>
<tr>
<td>Sanjay Suman</td><td>2014</td><td> sanjaysuman59@hotmail.com</td>
</tr>
<tr>
<td>Akash Kumar</td><td>2014</td><td>akashrakshit401@gmail.com</td>
</tr>
<tr>
<td>Aayushi</td><td>2014</td><td>aayushi9555@gmail.com</td>
</tr>
<tr>
<td>Sandhya Singh</td><td>2014</td><td>sandhyasinghnitjsr123@gmail.com</td>
</tr>
<tr>
<td>Shreya Bhattacharya</td><td>2014</td><td>shreya.23sep95@gmail.com</td>
</tr>
<tr>
<td>Aamir Hussain</td><td>2015</td><td> aamir007.handsome@gmail.com</td>
</tr>
<tr>
<td>Goutam Kumar</td><td>2015</td><td> gautamsingh722@gmail.com</td>
</tr>
<tr>
<td>Shubham Vishwakarma</td><td>2013</td><td>-</td>
</tr>
<tr>
<td>Aman Kumar Singh</td><td>2013</td><td>aman.13ugcs043@nitjsr.ac.in</td>
</tr>
<tr>
<td>Sanket Kumar Singh</td><td>2013</td><td>sanket.13ugcs003@nitjsr.ac.in</td>
</tr>
<tr>
<td>Shubhendu Shishir</td><td>2013</td><td>aiden.jsr@gmail.com</td>
</tr>
<tr>
<td>Mukesh Kumar</td><td>2013</td><td>mukesh.13ugcs048@nitjsr.ac.in</td>
</tr>
<tr>
<td>Suraj Potnuru</td><td>2013</td><td>surajpotnuru7@gmail.com</td>
</tr>
<tr>
<td>Abhishek Kumar</td><td>2012</td><td>abhishekheaven7@gmail.com</td>
</tr>
<tr>
<td>Punj Kumar</td><td>2013</td><td>punjkumar3@gmail.com</td>
</tr>
<tr>
<td>Sidhant Rajan</td><td>2014</td><td>sidhant.r60@gmail.com</td>
</tr>
<tr>
<td>Ujjayanta Bhaumik</td><td>2014</td><td>ujjayanta_bhaumik@rediffmail.com</td>
</tr>
<tr>
<td>Riya Prasad<br />
(Student, CSE)</td><td>2011</td><td>-</td>
</tr>
<tr>
<td>Rohit Mishra<br />
(Student, CSE)</td><td>2011</td><td>-</td>
</tr>



<tr>
<td>Ashutosh Kumar<br />
(Student, CSE)</td><td>2011</td><td>-</td>
</tr>

<tr>
<td>Sandipon Mukherjee<br />
(Student, CSE)</td><td>2011</td><td>sandipan_says@yahoo.in</td>
</tr>

<tr>
<td>Mayank Kumar<br />
(Student, CSE)</td><td>2011</td><td>mayank.cse.nitjsr@gmail.com</td>
</tr>

<tr>
<td>Apurwa Rani<br />
(Student, CSE)</td><td>2011</td><td>raniapurwa@gmail.com</td>
</tr>

<tr>
<td>Rishikesh Maurya<br />
(Student, CSE)</td><td>2011</td><td>rishi.nit.iim@gmail.com</td>
</tr>

<tr>
<td>Ankur Sahuwala<br />
(Student, CSE)</td><td>2009</td><td>ankur_sahuwala@yahoo.com</td>
</tr>
<tr>
<td>D. Hariharan<br />
(Student, CSE)</td><td>2009</td><td>mani.hariharan@gmail.com</td>
</tr>
<tr>
<td>Ajit Kumar<br />
(Student, CSE)</td><td>2009</td><td>ajitk1990@gmail.com</td>
</tr>
<tr>
<td>Nishant Kumar<br />
(Student, ECE)</td><td>2008</td><td>nishantkumar35@gmail.com</td>
</tr>
<tr>
<td>Md. Shahnawaz Alam<br />
(Student, CSE)</td><td>2008</td><td>shan92822@gmail.com</td>
</tr>
</tbody>
</table></div>
     </div>
  </div>
</div>
</div>
</div>

</div>







<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
          luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
          luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>NIT JSR Adityapur Jamshedpur
          <br /><a href="mailto:tap@nitjsr.ac.in"
            style="text-decoration:none; color: greenyellow;">tap@nitjsr.ac.in</a>
          <br /><a href="tel:555-666-7777" style="text-decoration:none; color: greenyellow;">555-666-7777</a>
          <br /><a href="https://www.facebook.com/nitjsrnewsupdate" target="blank"><img
              src="Tech_img/fbicon.png" width="50px" height="50px"></a>
          <a href="https://www.linkedin.com/in/training-placement-cell-nit-jamshedpur-945859a4/" target="blank"><img
              src="/images/linkedin (2).png" width="50px" height="50px"></a>
        </p>
      </div>
    </div>
    <div class="footer-copyright text-center">© 2020 Copyright: NIT JSR Web Team</div>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>